<body>

  <input type="file" name="file" id="file">
  <button onClick="readFile()">Start calculating</button>
  <div id="seed"></div>

  <div id="solution"></div>

  <script>
  // Reaktor Orbital Challenge 2016
  // Konsta Rönkkö
  //This is supposed to take all the satellites from a predetermined file and calculate the best route
  //the task:

  // Your task is to create an algorithm that can route phone calls through space across a network of satellites, much like the Iridium satellite constellation.
  // Due to unfortunate circumstances that took place in the launch, our satellite constellation did not turn out as planned,
  // but instead the satellites are scattered randomly across the globe at altitudes between 300-700km.
  // Your algorithm should return the intermediate hops across satellites needed to transmit a signal from a starting point on the ground to an end point (also on the ground) in valid order
  // (e.g. SAT10,SAT22,SAT7). No signal can travel through Earth, so all hops must be made between satellites that have an unobstructed line of sight between each other.
  // It is possible, albeit very unlikely that a working route cannot be found for a given data file.
  // The route you generate does not need to be the optimal one (i.e. least amount of hops or shortest),
  // but our engineers will appreciate such a solution, as it’ll reduce the overall bandwidth needed.

  // The file will also contain a random seed used to generate it, which you will need to submit for verification purposes along with your answer.
  // To make things simple, Earth is assumed to be perfectly round and its radius is 6371km.
  // All altitudes are expressed as kilometers above the surface.

//some nasty, nasty globals
var radiusOfEarth = 6371.00;
var origo = 0;

//Reads the file, after loaded, add the contents in to an array as Satellite objects
//After this, trigger the next event, which will start the calculation of route.
  function readFile(){


      var file = document.getElementById('file').files[0];

      var reader = new FileReader();

      //file has been loaded, now we manipulate it and trigger next event
      reader.onload = function(progressEvent){

          // Split the text to lines
          var lines = this.result.split('\n');

          //prime the satellite array
          var sats = [];

          var element = document.getElementById("seed");
          element.innerHTML = lines[0];

          // create the satellites and add them to sats array (no pun intended)
          for(var line = 1; line < lines.length - 1; line++){
            var splitted = lines[line].split(',');
            var sat = new Satellite(splitted[0], splitted[1], splitted[2], splitted[3]);
            //console.log(sat);
            sats.push(sat);
          }

          //split the route, add the info for start point and finish point
          var startAndFinish = lines[lines.length -1].split(',');
          var startPoint = new Route(startAndFinish[1],startAndFinish[2]);
          var finishPoint = new Route(startAndFinish[3],startAndFinish[4]);

          //trigger the calculation
          CalculateRoute(sats, startPoint, finishPoint);
      };


      reader.readAsText(file);

  }

  //here we begin the calculation of route itself
  function CalculateRoute(satellites, startPoint, finishPoint){
    // console.log(satellites);
    // console.log(startPoint);
    // console.log(finishPoint);

    var element = document.getElementById("solution");
    element.innerHTML = 'Starting search.';

    var usedSatellites = [];

    var routeFound = false;

    //cycle through the satellites to see if they're in range of the starting point
    for(i = 0; i < satellites.length; i++){
      var startXyz = startPoint.xyz;
      var satelliteXyz = satellites[i].satXyz;

      //if this satellite is "in range" we will continue from there and wait for confirmation
      //Euclidean distance between two points in three-dimensional (3D) space with Cartesian coordinates is compared with the radius of earth squared.
      //this should give us the answer whether these intersect each other (ray-sphere intersection)

      if(DoesItIntersect(startXyz, satelliteXyz)){
        //we take the eligible satellite off the satellite listing and add it to the used satellites list.
        usedSatellites.push(satellites.splice(i,1)[0])
         if (NextHop(satellites, usedSatellites, finishPoint)){
           routeFound = true;
           break;
         }
         else{
           satellites.splice(i,0,usedSatellites.pop());
         }

         var element = document.getElementById("solution");
         element.innerHTML = element.innerHTML + '</br> Returned all the way to the start.';
         console.log('returned all the way to the start');
      }
    }

    if(routeFound == false){
    var element = document.getElementById("solution");
    element.innerHTML = element.innerHTML + '</br>Uh oh, we found no route to the satellites';
  }
  }

  function NextHop(satellites, usedSatellites, finishPoint){
    // console.log('we made it this far!');
    // console.log(satellites);
    // console.log(usedSatellites);

    var lastSatXyz = usedSatellites[usedSatellites.length -1].satXyz;

    //Check if we can reach the finish line yet. If we can, wohoo, let's print the resulting route
    if(DoesItIntersect(finishPoint.xyz, lastSatXyz)){
          //get the satids
          var satids = usedSatellites.map(function(e){
            return e.satId;
          });
          var element = document.getElementById("solution");
          element.innerHTML = element.innerHTML + '</br>Route found: ' + satids;
          console.log('</br>Route found: ' + satids);
          return true;
    }

    //continue searching for the right path
    for(i = 0; i < satellites.length; i++){
        var satelliteXyz = satellites[i].satXyz;

        var element = document.getElementById("solution");
        element.innerHTML = element.innerHTML + '</br> Continuing search, current sat: ' + usedSatellites[usedSatellites.length-1].satId;
        if(DoesItIntersect(lastSatXyz, satelliteXyz)){

          usedSatellites.push(satellites.splice(i,1)[0])
          if (NextHop(satellites,usedSatellites, finishPoint)) return true;
          else {
            satellites.splice(i,0,usedSatellites.pop());
          }
        }
    }

    return false;
  }


  //Holder objects for satellites and routes with all the needed info
  function Satellite(satid, lat, long, alt){
    this.satId = satid;
    this.satLat = Number(lat);
    this.satLong = Number(long);
    this.satAlt = Number(alt);
    this.satXyz = ConvertToXyz(this.satLat, this.satLong, this.satAlt);
  }

  function Route(lat, long){
    this.lat = Number(lat);
    this.long = Number(long);
    this.xyz = ConvertToXyz(this.lat, this.long, 0);
  }

  //Helper functions


  function DoesItIntersect(p1, p2){

    var vectorofSats = [(p2[0]-p1[0]), (p2[1]-p1[1]), (p2[2]-p1[2])];
    var sqrdLengthOfSatVector = (vectorofSats[0] * vectorofSats[0]) + (vectorofSats[1] * vectorofSats[1]) + (vectorofSats[2] * vectorofSats[2]);

    var lineToPointVector = [(origo - p1[0]), (origo - p1[1]), (origo - p1[2])];
    var dotProduct = (lineToPointVector[0] * vectorofSats[0]) + (lineToPointVector[1] * vectorofSats[1]) + (lineToPointVector[2] * vectorofSats[2]);

    var percAlongLine = dotProduct / sqrdLengthOfSatVector;

    if ( percAlongLine < 0.0 ){
     percAlongLine = 0.0;
    }
    else if ( percAlongLine > 1.0 ){
       percAlongLine = 1.0;
    }

    var closestPointOnLineSeg = [(p1[0] + (percAlongLine * (p2[0]-p1[0])) ), (p1[1] + (percAlongLine * (p2[1]-p1[1])) ), (p1[2] + (percAlongLine * (p2[2]-p1[2])) )];

    var diffVectOnClosestPoint = [(closestPointOnLineSeg[0]-origo), (closestPointOnLineSeg[1]-origo), (closestPointOnLineSeg[2]-origo)];

    var sqrdClosestDiffLength = (diffVectOnClosestPoint[0] * diffVectOnClosestPoint[0]) + (diffVectOnClosestPoint[1] * diffVectOnClosestPoint[1]) + (diffVectOnClosestPoint[2] * diffVectOnClosestPoint[2]);

    var sqrdRadius = radiusOfEarth * radiusOfEarth;

    return (sqrdClosestDiffLength >= sqrdRadius);
  }


  //convert the ENU coordinates to cartesian coordinates
  function ConvertToXyz(lat, lon, alt) {
    var cosLat = Math.cos(lat * Math.PI / 180.0);
    var sinLat = Math.sin(lat * Math.PI / 180.0);
    var cosLon = Math.cos(lon * Math.PI / 180.0);
    var sinLon = Math.sin(lon * Math.PI / 180.0);
    // radius is the one on our task description, altitude added
    var rad = (radiusOfEarth + alt);
    var position = [];
    position[0] = rad * cosLat * cosLon;
    position[1] = rad * cosLat * sinLon;
    position[2] = rad * sinLat;

    return position;
  }
  </script>
</body>
